html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #003087;
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
	font-weight: 400;
	color: #363636;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

strong {
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}



#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


#header-wrapper
{
	overflow: hidden;
	background: url(images/bg01.png) repeat;
	background-size: 100%;
	padding: 6em 0em 2em 0em;
	background: #333333;
	min-width: 720px;
	margin: 0 auto;
}



	#header 
	{
		position: relative;
		overflow: hidden;
		text-align: center;
	}



	#welcome
	{
		overflow: hidden;
		padding: 5em 0em;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
	}
	
	#welcome h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}
	
	#welcome p
	{
		font-size: 1.3em;
	}

	#welcome .byline
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
	}













	